<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Operation</title>
</head>
<body>
    
  <h1>Add New Order</h1>
<form method="POST" action="/">
  Order ID: <input name="orderID" required>
  <br>
  <br>
  Ship Name: <input name="shipName" required>
  <br>
  <br>
  Freight: <input name="freight" required>
  <br>
  <br>
  date : <input type="date" name="orderDate" required>
  <br>
  <br>


  <button type="submit">Create</button>
  <button type="reset">Cancel</button>
</form>
</body>
</html>
